# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html


RewriteCond %{HTTP_HOST} ^domain.co.uk [NC]

RewriteRule ^(.*)$ http://www.alexbrackner.co.uk/$1 [R=301,NC]

RewriteRule ^index.html$ http://www.alexbrackner.co.uk/ [R=301,L]
